<!-- go to https://getbootstrap.com/docs/4.0/components/navbar/ and copy the codes for Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       
        <!-- add <div class="container"> inside <nav> -->
        <div class="container">
            
            <!-- add HTML code for showing 'logo.png' and setting the size of image -->
            <!-- folder 'public' is set to be static, so the path to 'logo.png' should be start from folder 'public' -->
            <!-- becareful: the first "/" is needed in <img scr=""> -->
            <!-- add <a href="/"> for redirectin user to 'Home page' when clicking the logo -->
            <div class="logo"><a href="/"><img src="/img/logo.png" alt="Logo" width="50" height="50" /></a></div>

            <!-- add <div class="container-fluid"> inside  <div class="container"> -->
            <div class="container-fluid">

                <a class="navbar-brand" href="/">Notes</a> <!-- change href="/" Notes -->

                <!-- change data-toggle to data-bs-toggle in the following <button> 
                            data-target to data-bs-target                            -->
                <button 
                    class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse"                  
                    data-bs-target="#navbarSupportedContent"   
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">    <!-- change the class -->
                        <li class="nav-item active">                <!-- remove class 'active' -->
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>

                        <!-- the part of dropdown meun of 'Notes' and Add 'Notes' button is moved -->

                    </ul>
                    
                    <!-- add <ul> with  <li>  and  <a href=""> inside -->
                    <!-- ml-auto to make this <ul> to the right-most -->
                    <ul class="navbar-nav ml-auto">

                        <!-- set condition to check whether the user is logged in -->
                        <!-- when user is logged in, 'user' is not null (truthy) -->
                        <!-- when user is logged out, 'user' is null (falsy)-->
                        {{#if user}} <!-- 'user' refers to res.locals.user -->
                        
                        <!-- rearrange the order of the buttons -->

                        <!-- move the dropdown meun of 'Notes' and Add 'Notes' button here -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" 
                                href="#" 
                                id="navbarDropdown" 
                                role="button" 
                                data-bs-toggle="dropdown"       
                                aria-haspopup="true" 
                                aria-expanded="false">
                            Note
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/ideas">Notes</a>
                                
                                <a class="dropdown-item" href="/ideas/add">Add Notes</a>

                                <a class="dropdown-item" href="/ideas/records">Show All Records</a>
                            </div>
                        </li>
                        
                        <!-- add the link to 'Profile' page -->
                        <li>
                            <a class="nav-link" href="/users/profile">Profile</a>
                        </li>

                        <li>
                            <a class="nav-link" href="/users/logout">Logout</a>
                        </li>

                        {{else}}

                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/register">Register</a>
                        </li>

                        {{/if}}

                    </ul>
                    
                </div>
            </div> <!-- </div> of class="container-fluid" -->
        </div> <!-- </div> of class="container" -->
    </nav>