<!-- errors[] is handled by _error.handlebars -->

<div class="card card-body">
    <h3>Notes</h3>

    <!-- match with app.post("/ideas/add") in app.js -->
    <form action="/ideas/add" method="post">    
        <div class="form-group">
            <label for="title"></label>
            <!-- required to enforce input -->
            <input type="text" name="title" class="form-control"  />
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <!-- required to enforce input -->
            <textarea name="details" class="form-control"  ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>